<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SPACE ROCKS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/assets/styles/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular-route.js"></script>
    <script type='text/javascript' src='/d3/d3.js'></script>
    <script type='text/javascript' src='/three.js/build/three.min.js'></script>
    <script type='text/javascript' src='/tween.js/src/Tween.js'></script>
    <script type='text/javascript' src='/three.js/renderers/CanvasRenderer.js'></script>
    <script type='text/javascript' src='/three.js/renderers/Projector.js'></script>
    <script type='text/javascript' src='/assets/js/parse-asteroids.js'></script>
    <script type='text/javascript' src='/assets/js/sampleJSONdata.js'></script>
    <script type='text/javascript' src='/assets/js/sampleNASAdata.js'></script>
    <script type='text/javascript' src='/assets/js/scripts.js'></script>
    <script type='text/javascript' src='/assets/js/app.js'></script>
  </head>
  <body>
    <!-- Starry, starry night -->
    <div id="space-bg">
      <div id="star-img"></div>
      <div id="star-overlay"></div>
      <div id="stars1"></div>
      <div id="stars2"></div>
      <div id="stars3"></div>
    </div>
    <button>VELOCITY</button>
    <button id="scale">SCALE</button>


    <div id="wrapper">
      <button>CLICK ME</button>
      <!-- Fly me to the moon -->
      <div id="moon">
        <img src="/assets/images/moon.png">
      </div>
      <div id="asteroids" ng-app="SpaceRocks">
        <!-- <div id="space-data" ng-view ></div> -->
        <div id="asteroid-field" ng-controller="ViewController" ng-show="checkViewStatus()"></div>
      </div>
      <!-- Beatiful Big Blue -->
      <div id="earth"></div>  
    </div>



    <div id="wrapper-scaled" class="hidden">
      <div id="earth-scaled">
        <img src="/assets/images/earth.png">
      </div>  
      <div id="asteroids-scaled">
        <div id="asteroid-field""></div>
      </div>
      <div id="moon-scaled">
        <img src="/assets/images/moon.png">
      </div>
    </div>



    <div id="asteroid-info">
      <div id="a-name"></div>
      <div id="a-date"></div>
      <div id="a-diametaer"></div>
      <div id="a-distance"></div>
      <div id="a-velocity"></div>
      <div id="a-magnitude"></div>
    </div>

    <script type='text/javascript' src='/assets/js/earth.js'></script>

  </body>
</html>