@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);
@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,700);

* {
  box-sizing: border-box;
}

html, body, #space-data, #earth, #space-bg, #star-img, #star-overlay, #stars1, #stars2, #stars3, #wrapper, #asteroid-field {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  background-color: black;
  background: radial-gradient(ellipse at bottom, rgb(27,39,53) 0%, black 80%);
  overflow: hidden;
  color: white;
  font: 2rem 'Futura';
}


button {
  position: fixed;
  bottom: 10px;
  z-index: 1000;
}

#scale {
  left: 80px;
}

canvas {
  height: 100%;
  width: 100%;
}

text {
  color: white !important;
}

circle {
  cursor: pointer;
}


#space-bg, #star-img, #star-overlay, #stars1, #stars2, #stars3 {
  position: absolute;
  top: 0;
  height: 200vh;
}

#star-img {
  background: url('/assets/images/orion-nebula-hubblesite.jpg') no-repeat;
  background-size: cover;
}

#star-overlay {
  background: radial-gradient(ellipse at bottom, rgba(255,255,255,0.55) 0%, rgba(0,0,0,0.85) 75%);
  position: absolute;

}

#wrapper, #wrapper-scaled {  
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}


#moon, #asteroids, #earth {
  position: relative;
  width: 100%;
  float: left;
}
#moon{ 
  min-height: 98.1px; 
  height: 15%;
}
#moon img {
  position: absolute;
  top: -98.1px;
  width: 196.3px;
  clip: rect(98.1px,196.3px,196.3px,0px);
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
#asteroids { 
  height: 60%; }

#earth{ height: 25%; }


/* SCALED VIEW STYLYING */

#wrapper-scaled {
  background-color: rgba(0,0,0,0.25);
}
#earth-scaled, #moon-scaled, #asteroids-scaled {
  position: absolute;
  height: 100%;
}

#earth-scaled, #moon-scaled {
  display: flex;
  align-items: center;
}

#earth-scaled { 
  width: 3.619vw; 
  left: 0;
}

#earth-img {
  position: relative;
  background: url('/assets/images/earth.png') no-repeat;
  background-size: cover;
  width: 3.202vw;
  height: 3.202vw;
  margin-left: 0.417vw;
}

#asteroids-scaled { 
  visibility: hidden;
  width: 93.996vw;
  left: 3.619vw;
}

#moon-scaled {
  width: 2.385vw;
  left: 97.615vw;  
}

#moon-img {
  position: relative;
  background: url('/assets/images/moon.png') no-repeat;
  background-size: cover;
  height: 0.875vw;
  width: 0.875vw;
}

/* STARS! */
.star {
  border-radius: 50%;
  border: 1px solid white;
  box-shadow: 0px 0px 12px 4px rgba(255,255,255,0.25);
}
.star1 { opacity: 0.4; }
.star2 { opacity: 0.45; }
.star3 { opacity: 0.6; }

#stars1 { animation: starFlight 270s linear infinite; }
#stars2 { animation: starFlight 170s linear infinite; }
#stars3 { animation: starFlight 70s linear infinite; }

#asteroid-info {
  position: absolute;
  top: 0;
  min-width: min-content;
  min-height: min-content;
  height: auto;
  width: auto;
  font: 1rem 'Oswald';
  color: white;
  opacity: 0;
}

.bold {
  font-weight: 700;
  color: hotpink;
}


.hidden {
  display: none;
}


@keyframes starFlight {
  from { 
    -webkit-transform:rotate(360deg);
  }
  to {    
    -webkit-transform:rotate(0deg);
  }
}

@keyframes asteroidFlight {
  from { 
    transform: translateX(0px);
  }
  to {    
    transform: translateX(3000px);
  }
}