
@import url(https://fonts.googleapis.com/css?family=Quicksand);
@import url(https://fonts.googleapis.com/css?family=Kristi);
@font-face {
  font-family: 'Clutchee';
  src: url('../fonts/clutchee.otf');
}

* {
  box-sizing: content-box;
}

html, body {
  margin: 0;
  height: 100%;
  width: 100%;
 
}

body {
  background-color: white;
}

#landing {
  background-color: white;
  overflow: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
  font: 3rem 'Quicksand';
}

#left-pane, #right-pane {
  position: relative;
  height: 100%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

#left-pane {
  width: 55%;
}

#right-pane {
  width: 45%;
}

#hi, #content {
  position: relative;
  text-align: justify;
  margin: 0 auto;
  height: 80%;
  width: 80%;
}

span.emphasis {
  font: 4.25rem 'Kristi';
  line-height: 0.9;
  color: tomato;
}

.floaty {
  font-size: 2rem;
  position: absolute;
  margin: 0;
}

#center {
  width: 90%;
  text-align: center;
  margin-top: 55px;
}

#right {
  margin-top: 110px;
  right: 0;
}
#bottom {
  position: absolute;
  bottom: 0;
  text-align: right;
}

.tomato {
  color: tomato;
}

#scroll-content {
  background-color: red;
  height: 100%;
  width: 100%;
}
